@using Foundation.Cms.SchemaMarkup;
@using Foundation.Cms
@model IContentViewModel<IContent>

@{
    Layout = "~/Features/Shared/Foundation/_MasterLayout.cshtml";
}

@section AdditionalStyles {
    @RenderSection("AdditionalStyles", required: false)
}

<div class="loading-box" style="display: none">
    <div class="loader"></div>
</div>

@Html.RenderEPiServerQuickNavigator()

@{
    var foundationPageData = Model.CurrentContent as IFoundationContent;
}

@if (!foundationPageData?.HideSiteHeader ?? false)
{
    { Html.RenderAction("GetHeader", "Header", new { homePage = Model.StartPage }); }
}

<div class="container">
    @RenderBody()
</div>

@if (!foundationPageData?.HideSiteFooter ?? false)
{
    @Html.Partial("_Footer", Model)
}

@Html.Partial("_QuickViewModal")

<script src="~/Assets/js/footer.min.js" type="text/javascript" async></script>

@RenderSection("AdditionalScripts", required: false)
@Html.RequiredClientResources("Footer")
@Html.RenderExtendedScripts(Model.CurrentContent)
@Model.SchemaMarkup