@using Foundation.Features.Header

@model HeaderViewModel

<!-- Navigation bar for Mobile -->
<div class="mobile-navigation-wrapper">
    <div class="d-sm-block d-lg-none">
        <!-- Navigation -->
        <div class="mobile-navigation">
            <!-- Left Menu -->
            <div class="mobile-navigation__left">
                <div class="mobile-navigation__item" id="open-offside-menu">
                    <div class="hamburger-menu">
                        <span class="hamburger-menu__line"></span>
                        <span class="hamburger-menu__line"></span>
                        <span class="hamburger-menu__line"></span>
                    </div>
                </div>
                <div class="mobile-navigation__item">
                    <a href="/" class="mobile-navigation__logo">
                        <picture class="img-fluid">
                            <source data-srcset="@Url.ContentUrl(Model.HomePage.SiteLogo)?format=webp&width=225" type="image/webp">
                            <img data-src="@Url.ContentUrl(Model.HomePage.SiteLogo)?width=225" class="img-fluid lazyload" @Html.EditAttributes(x => x.HomePage.SiteLogo) />
                        </picture>
                    </a>
                </div>

                <!-- Search box -->
                <div class="mobile-navigation__search-box" style="display: none" id="mobile-searchbox">
                    <div class="icon-menu">
                        <i data-feather="search"></i>
                    </div>
                    <input class="mobile-navigation__search-text jsSearchText" type="text" placeholder="Search"
                           data-search="@Url.ContentUrl(Model.HomePage.SearchPage)"
                           data-result-container="#jsResultSearchMobile" />
                    <div class="searchbox-popover" id="jsResultSearchMobile" style="display: none">
                        <div style="position: relative; min-height: 80px;">
                            <div class="loading-cart" style="display: none">
                                <div class="loader"></div>
                            </div>
                            <div class="js-searchbox-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Menu -->
            <div class="mobile-navigation__right">
                <div class="icon-menu" id="open-searh-box">
                    <i data-feather="search"></i>
                </div>

                <!-- Close Search box -->
                <div class="icon-right border-right" style="display: none; flex-direction: row; width: auto" id="close-search-box">
                    <i data-feather="camera" class="jsSearchImage" data-input="#fileSearchInput" style="margin-right: 15px;"></i>
                    <i data-feather="x"></i>
                </div>
            </div>

        </div>

    </div>

    <!-- Side menu of Navigation bar for Mobile -->
    <div class="d-sm-block d-lg-none offside-navbar" id="offside-menu-mobile">
        <div class="offside-navbar--nav nav nav-tabs">
            <a class="offside-navbar--nav__item active" data-toggle="tab" href="#mobile-menu">
                <div class="icon-menu-description">
                    <i data-feather="menu"></i>
                    <span>Menu</span>
                </div>
            </a>
            <a class="offside-navbar--nav__item" data-toggle="tab" href="#mobile-account">
                <div class="icon-menu-description">
                    <i data-feather="user"></i>
                    <span>Account</span>
                </div>
            </a>
        </div>

        <div class="tab-content offside-navbar__tab-content">
            <div id="mobile-menu" class="tab-pane fade show active">
                <ul class="offside-navbar--menu">
                    @if (Model.MenuItems != null && Model.MenuItems.Count > 0)
                    {
                        foreach (var item in Model.MenuItems)
                        {
                            <li class="offside-navbar--menu__item jsFirstLi">
                                <a href="@item.Uri">@item.Name</a>
                                @if (item.ChildLinks != null && item.ChildLinks.Count > 0)
                                {
                                    <i data-feather="chevron-up" class="collapsed expand-collapse-child hidden jsExpandCollapse"></i>
                                    <i data-feather="chevron-down" class="expanded expand-collapse-child jsExpandCollapse"></i>
                                    <ul class="offside-navbar--menu child-menu">
                                        @foreach (var child in item.ChildLinks)
                                        {
                                            <li class="offside-navbar--menu__item main-category">
                                                @child.MainCategoryText
                                            </li>
                                            if (child.ListCategories != null)
                                            {
                                                foreach (var childLink in child.ListCategories)
                                                {
                                                    <li class="offside-navbar--menu__item">
                                                        <a href="@Url.GetFriendlyUrl(childLink.Href)">@childLink.Text</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                }

                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END - Navigation bar for Mobile -->