@using EPiServer.AddOns.Helpers
@using EPiServer.Core.Html
@model PageListBlockViewModel

@*
    @if (Model.Pages != null && Model.Pages.Any())
    {
        <div id="myCarousel" class="carousel slide" data-ride="false" data-interval="5000">
            <div class="carousel-inner row w-100 mx-auto">
                @{
                    int active = 0;

                    foreach (var page in Model.Pages)
                    {
                        var foundationPage = page.Page as FoundationPageData;
                        var CSSActive = (active == 0) ? "active" : "";

                        <div class="carousel-item col-md-3 @CSSActive">
                            <div class="preview__card">
                                <div class="preview__card--show">
                                    <div class="card--top">
                                        @if (page != null && !ContentReference.IsNullOrEmpty(foundationPage.TeaserVideo))
                                        {
                                            <video class="img-fluid" autoplay loop playsinline muted>
                                                <source src="@Url.ContentUrl(foundationPage.TeaserVideo)" type="video/mp4">
                                            </video>
                                        }
                                        else
                                        {
                                            <picture style="width: 100%">
                                                @if (page != null && !ContentReference.IsNullOrEmpty(foundationPage.PageImage))
                                                {
                                                    <img class="img-fluid preview--image-top__image" src="@Url.WebPFallbackImageUrl(foundationPage.PageImage, 1200)" />
                                                }
                                            </picture>
                                        }
                                    </div>

                                    <div class="card--bottom">
                                        <div class="card--bottom__title">
                                            <a class="account-link">
                                                <h4>  @Html.Raw(page != null ? foundationPage.MetaTitle : page.Page.Name)</h4>
                                            </a>
                                            @if (page != null && !String.IsNullOrEmpty(foundationPage.TeaserText))
                                            {
                                                <p>@Html.Raw(TextIndexer.StripHtml(foundationPage.TeaserText, 150))</p>
                                            }
                                            else
                                            {
                                                <p>@Html.Raw(TextIndexer.StripHtml(foundationPage.MainBody.ToString(), 150))</p>
                                            }

                                        </div>
                                        <div class="card--bottom__date">
                                            <small>
                                                <i>
                                                    @foundationPage.StartPublish.Value.ToString("dd MMM yyyy")
                                                </i>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="preview__card--middle">
                                    <div class="triangle-side"></div>
                                    <div class="triangle-center"></div>
                                    <div class="triangle-side"></div>
                                </div>
                                <div class="preview__card--overlay"
                                     style="background-color: @Model.CurrentBlock.OverlayColor; color: @Model.CurrentBlock.OverlayTextColor">
                                    <div class="preview__card--description">
                                        @if (page != null && !String.IsNullOrEmpty(foundationPage.TeaserText))
                                        {
                                            <p>@Html.Raw(TextIndexer.StripHtml(foundationPage.TeaserText, 200))</p>
                                        }
                                        else
                                        {
                                            <p>@Html.Raw(TextIndexer.StripHtml(foundationPage.MainBody.ToString(), 200))</p>
                                        }

                                        <a href="@foundationPage.ContentLink.GetPublicUrl()">
                                            Read more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        active++;
                    }
                }

            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



    }*@

         <div class="container text-center my-3">
            <h2 class="font-weight-light">Bootstrap 4 Carousel with 5 slides</h2>
            <div class="row mx-auto my-auto">
                <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-lg-2">
                                <img class="img-fluid" src="http://placehold.it/350x180?text=1">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2">
                                <img class="img-fluid" src="http://placehold.it/350x180?text=2">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2">
                                <img class="img-fluid" src="http://placehold.it/350x180?text=3">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2">
                                <img class="img-fluid" src="http://placehold.it/350x180?text=4">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2">
                                <img class="img-fluid" src="http://placehold.it/350x180?text=5">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2">
                                <img class="img-fluid" src="http://placehold.it/350x180?text=6">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2">
                                <img class="img-fluid" src="http://placehold.it/350x180?text=7">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-2">
                                <img class="img-fluid" src="http://placehold.it/350x180?text=8">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev bg-dark w-auto" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next bg-dark w-auto" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <h5 class="mt-2">Advances one slide at a time</h5>
        </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script>


    $('.carousel .carousel-item').each(function () {
        var minPerSlide = 3;
        var next = $(this).next();
       
        if (!next.length) {
            next = $(this).siblings(':first');
        }

        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < minPerSlide; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });

</script>

